*DS_Store*
*/.nuget/
*/bin/
*/obj/
*/Build/
*ReSharper*
*resharper*
*.suo
*.tmproj
*.idea
*.dmg

Staging/
*.sublime-project
*.sublime-workspace

*desktop.ini

*.dpkg-dist
*.ucf-dist

packages/*
!packages/repositories.config
.vs/*
